Lists are ordered sequences that can hold a variety of object types.

They use [] and comas to separate objects in the list.

They support indexing and slicing. Lists can be nested and aslo have a variety of useful methods that can be called off of them.

In [1]:
my_list  = [1,2,3]

In [6]:
my_list = ['string', 100, 2.3]

In [7]:
len(my_list)

3

In [13]:
my_list = ['one', 'two', 'three']

In [14]:
#We can slice them
my_list[0]

'one'

In [10]:
my_list[::]

['one', 'two', 'three']

We can also concatinate lists

In [11]:
another_list = ["four", "five"]

In [12]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

We can modify the elements of the list

In [15]:
my_list[0] = "ONE ALL CAPS"

In [16]:
my_list

['ONE ALL CAPS', 'two', 'three']

We can add new item to the list

In [21]:
my_list.append("six")

In [22]:
my_list

['ONE ALL CAPS', 'two', 'three', 'six']

To remove something from the list we use pop method

In [24]:
my_list.pop()

'six'

In [25]:
my_list

['ONE ALL CAPS', 'two', 'three']

In [26]:
popped_item = my_list.pop()

In [27]:
popped_item

'three'

In [28]:
#when we want to delete a specific element, we can do it like this

['ONE ALL CAPS', 'two']

In [3]:
my_list.pop(0)

NameError: name 'my_list' is not defined

In [30]:
my_list

['two']

Sorts and reverse

In [31]:
new_list = ["a", "e", "r", "g"]
num_list = [4, 3, 5, 6, 3]

In [32]:
new_list.sort()
new_list

['a', 'e', 'g', 'r']

In [34]:
#It's important to note, that we cant assign new value to the sorted list
#my_sorted_list = new.list.sort(), it wont work, because it only accure in place
#So first we have to sort it

In [35]:
new_list.sort()
my_sorted_list = new_list
my_sorted_list

['a', 'e', 'g', 'r']

In [36]:
#It works the same with numbers

In [38]:
num_list.reverse()

In [39]:
num_list

[6, 5, 4, 3, 3]